    <!-- Bootstrap core CSS -->
    <script src="/js/paralax.js"></script>
    <script src="/js/TweenLite.min.js"></script>

    <div class="row vertical-offset-50">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">                            
                  Página não Encontrada                              
                </div>
                <div class="panel-body">
                  <div class="row-fluid user-row">                                    
                      <img src="/img/404.png" class="img-responsive" alt="Página não encontrada" />                      
                  </div>                                                                            
                </div>
                <div class="panel-footer"><a href="/" class="btn btn-lg btn-success btn-block">Voltar »</a></div>
            </div>            
        </div>
    </div>
    
