  <ol class="breadcrumb">
      <li><a href="/">Imobcat</a></li>
      <li>Cadastro</li>
      <li><a href="/cadastro/clientes">Clientes</a></li>
      <li class="active">Formulário de Cliente</li>
  </ol>

	<h1 class="sub-header">{{entidade}}</h1>
	
	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Enviando&hellip;</div>
	
	<form name="myForm" novalidate class="form-horizontal" role="form">
	    <div class="row">
	      <!-- Informações Básicas -->
        <div class="col-xs-12 col-md-6">          
          <div class="panel panel-body panel-default">
            <legend>
                  <label for="telefones" class="control-label">Informações Básicas</label>                          
            </legend>
            <div class="form-group">
              <!-- TIPO DE CLIENTE -->
                <div class="col-xs-11">
                    <div class="btn-group btn-group-justified">                    
                        <label data-ng-repeat="tpcliente in tiposClientes" data-ng-init="novocliente.tipoCliente[$index]=false" class="btn btn-primary text-capitalize" data-ng-model="novocliente.tipoCliente[$index]" btn-checkbox="tpcliente.subtipo"><strong><i class="fa fa-paw" data-ng-show="novocliente.tipoCliente[$index]"></i>&nbsp;{{tpcliente.valor}}</strong></label>                    
                    </div>
                </div>          
                <div class="col-xs-1">
                    <span class="label label-danger" data-ng-show="submitted && myForm.tiposClientes.$error.required">Obrigat&oacute;rio!</span>
                </div>
            </div>  
              <!-- CPF -->
            <div class="form-group">
                <label for="cpf" class="col-xs-2 control-label">CPF</label>                  
                <div class="col-xs-9">		
                  <input type="text" id="cpf" name="cpf" data-ng-model="novocliente.cpf" class="form-control" required="required" placeholder="CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" />
                </div>
                <div class="col-xs-1">
                  <span class="label label-danger" data-ng-show="submitted && myForm.cpf.$error.required">Obrigat&oacute;rio!</span>
                  <span class="label label-danger" data-ng-show="submitted && myForm.$error.cpf">CPF Inv&aacute;lido!</span>
                </div>                
            </div>  
              <!-- Nome -->
            <div class="form-group">
                  <label for="nome" class="col-xs-2 control-label">Nome</label>	
                  <div class="col-xs-9">			
                    <input type="text" id="nome" name="nome" data-ng-model="novocliente.nome" class="form-control" required="required" placeholder="Nome" />	
                  </div>
                  <div class="col-xs-1">
                    <span class="label label-danger" data-ng-show="submitted && myForm.name.$error.required">Obrigat&oacute;rio!</span>
                  </div>
            </div>    
              <!-- Email --> 
            <div class="form-group">
                  <label for="nome" class="col-xs-2 control-label">Email</label>	
                  <div class="col-xs-9">
                    <div class="input-group input-group">
                      <span class="input-group-addon">@</span>				
                      <input type="email" id="email" name="email" data-ng-model="novocliente.email" class="form-control" required="required" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                    </div>
                  </div>
                  <div class="col-xs-1">
                    <span class="label label-danger" data-ng-show="submitted && myForm.email.$error.required">Obrigat&oacute;rio!</span>
                    <span class="label label-danger" data-ng-show="submitted && myForm.$error.email">Email Inv&aacute;lido!</span>
                  </div>        
            </div>
          </div>
        </div>
        
        <!-- Telefones -->
        <div class="col-xs-12 col-md-6">          
          <div class="panel panel-body panel-default">
              <legend>                    
                    <label for="telefones" class="control-label">Telefones</label>                    
                    <span class="label label-danger" data-ng-show="submitted && myForm.tel.$error.required">Obrigat&oacute;rio!</span>
                    <span class="label label-danger" data-ng-show="submitted && myForm.$error.tel">Telefone inv&aacute;lido!</span>                    
              </legend>
              <!-- Tipo de Telefone -->
              <div class="form-group">
                      <div class="col-xs-12">
                        <label for="tpEndereco" class="control-label">Tipo de Telefone:</label>
                      </div>
                      <div class="col-xs-12">                   
                          <div class="btn-group btn-group-justified">                                                                              
                            <label data-ng-repeat="tpTelefone in tiposTelefones" class="btn btn-primary text-capitalize" data-ng-model="telefone.tipo" data-btn-radio="'{{tpTelefone.subtipo}}'"><strong><i data-ng-show="telefone.tipo===tpTelefone.subtipo" class="fa fa-paw"></i>&nbsp;{{tpTelefone.valor}}</strong></label>
                          </div>
                      </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-8 col-md-12 col-lg-8">
                      <div class="input-group">                  
                          <span class="input-group-addon" ><i class="fa fa-phone fa-fw"></i></span>
                          <input type="text" id="tel" data-ng-model="telefone.numero" class="form-control" required="required" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" />                          
                      </div>
                  </div>
                  <div class="col-xs-4 col-md-12 col-lg-4">
                      <button data-ng-click="incluirTelefone()" class="btn btn-primary btn-block" >
                          <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                      </button>
                  </div>                             
              </div>
              <label>
                  Telefones Cadastrados
              </label>                                
              <div class="well">
                  <button class="btn btn-info btn-block text-capitalize" ng-repeat="tel in novocliente.telefones">
                        <div class="close" aria-label="Close" data-ng-click="removeTelefone($index)"><i class="fa fa-times-circle-o fa-lg fa-fw" aria-hidden="true"></i></div>                                            
                        {{tel.tipo}}: {{tel.numero}}
                  </button>                          
              </div>                              

          </div><!-- Painel Telefones -->
        </div><!-- Div Telefones -->
      </div><!-- Row -->
      
      <!-- Endereço -->
      <div class="row">
        <div class="col-xs-12">
          <!-- Form Name -->
          <div class="form-group">
            <div class="panel panel-body panel-default">                
                <!-- Header -->
                <legend>
                    <label for="enderecos" class="control-label">Endere&ccedil;os</label>                          
                </legend>
                <!-- Formulario -->
                <div class="col-xs-12 col-md-6">
                        <!-- Tipo de Endereço -->
                        <div class="form-group">
                              <label for="tpEndereco" class="control-label">Tipo de Endereço:</label>
                              <div class="row">                              
                                  <div class="col-xs-12">                   
                                      <div class="btn-group btn-group-justified">                                                                              
                                        <label data-ng-repeat="tpEndereco in tiposEnderecos" class="btn btn-primary text-capitalize" data-ng-model="endereco.tipo" data-btn-radio="'{{tpEndereco.subtipo}}'"><strong><i data-ng-show="endereco.tipo===tpEndereco.subtipo" class="fa fa-paw"></i>&nbsp;{{tpEndereco.valor}}</strong></label>
                                      </div>
                                  </div>                                  
                              </div>
                        </div>
                        
                        <!-- Tipo de Imóvel -->
                        <div class="form-group">
                              <label for="tpImovel" class="control-label">Tipo de Residência:</label>
                              <div class="row">                              
                                  <div class="col-xs-12">                   
                                      <div class="btn-group btn-group-justified">
                                        <label data-ng-repeat="tpImovel in tiposImoveis" class="btn btn-primary text-capitalize" data-ng-model="endereco.tipoImovel" data-btn-radio="'{{tpImovel.subtipo}}'"><strong><i data-ng-show="endereco.tipoImovel===tpImovel.subtipo" class="fa fa-paw"></i>&nbsp;{{tpImovel.valor}}</strong></label>
                                      </div>
                                  </div>                                  
                              </div>
                        </div>                        
                        
                        <!-- CEP -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="cep">CEP</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="cep" name="cep" type="text" placeholder="CEP" class="form-control" data-ng-model="endereco.cep" ng-blur="getCEP()" required>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Rua -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                              <label class="col-xs-2 control-label" for="textinput">Rua</label>
                              <div class="col-xs-10">
                                <input name="rua" type="text" placeholder="Rua" class="form-control" data-ng-model="endereco.rua" required>
                              </div>
                          </div>
                        </div>
                        
                        <!-- Número -->
                        <div class="form-group has-success has-feedback">
                            <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">N&uacute;mero</label>
                            <div class="col-xs-10 col-md-10">
                              <input name="numero" type="text" placeholder="N&uacute;mero" class="form-control" data-ng-model="endereco.numero" required>
                            </div>
                            </div>
                        </div>
                        
                        <!-- Complemento -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Complemento</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="complemento" name="complemento" type="text" placeholder="Complemento" class="form-control" data-ng-model="endereco.complemento">
                            </div>
                          </div>
                        </div>
                        
                        <!-- Bairro -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Bairro</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control" data-ng-model="endereco.bairro" required>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Cidade -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Cidade</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control" data-ng-model="endereco.cidade" required>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Estado -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Estado</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="uf" name="uf" type="text" placeholder="Estado" class="form-control" data-ng-model="endereco.uf" required>
                            </div>
                          </div>
                        </div>
                        
                        <!-- País -->
                        <div class="form-group has-success has-feedback">
                          <div class="row">
                            <label class="col-xs-2 col-md-2 control-label" for="pais">Pa&iacute;s</label>
                            <div class="col-xs-10 col-md-10">
                              <input name="pais" type="text" placeholder="Pa&iacute;s" class="form-control" data-ng-model="endereco.pais" required>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Validação do Formulário -->
                        <div class="form-group">
                          <div class="row">
                            <span class="label label-danger" data-ng-show="submitted && myForm.form.$error.required">Obrigat&oacute;rio!</span>
                          </div>
                        </div>
                        
                        <div class="form-group">                            
                            <div class="row">
                              <!-- Botão de inclusão -->
                              <div class="col-xs-4">                                
                                <button data-ng-click="incluirEndereco()" class="btn btn-primary btn-block" >
                                  <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                </button>
                              </div>
                            </div>
                        </div>
                </div>
                <!-- Lista de objetos incluídos -->
                <div class="col-xs-12 col-md-6">              
                      <label>
                          Endereços Cadastrados
                      </label>
                      <div class="well">
                          <!-- Lista de objetos utilizando apenas o identificador -->
                          <button  class="btn btn-info btn-block text-capitalize" data-ng-repeat="end in novocliente.enderecos" popover-placement="top" popover="Imóvel: {{end.endereco | formatoEndereco}}" popover-append-to-body="true" popover-trigger="focus">                                
                              {{end.tipo}} : {{end.bairro}}
                              <div class="close" aria-label="Close" data-ng-click="removeEndereco($index)"><i class="fa fa-times-circle-o fa-lg fa-fw" aria-hidden="true"></i></div>                              
                              <i class="fa fa-info pull-left"></i>
                          </button>                          
                      </div>
                      <div class="well" data-ng-show="submitted && myForm.endereco.$error">
                        <span class="label label-danger" data-ng-show="submitted && myForm.endereco.tipo.$error.required">Obrigat&oacute;rio!</span>
                        <span class="label label-danger" data-ng-show="submitted && myForm.endereco.tipoImovel.$error.required">Obrigat&oacute;rio!</span>
                      </div>                      
                </div>                            
            </div>                
          </div>
        </div>
      </div>
      
      <!-- Documentação -->
      <!--
      <div class="row">     
        <div class="col-xs-12">          
            <div class="well">
              <legend>
                    <label for="documents" class="control-label">Documentação</label>                          
              </legend>            
              <div id="actions" class="row">                      
                  <div class="col-xs-12">
                      <button class="btn btn-info" id="include-file">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Incluir Arquivo</span>
                      </button>
                      <button class="btn btn-primary" id="submit-all">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Enviar arquivos</span>
                      </button>
                      <button class="btn btn-warning" id="cancel-all">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancelar Todos</span>
                      </button>                      
                      <span></span>
                      <span><img src="./img/gaveteirodigital.png" /> Arraste aqui seus documentos!</span>
                      
                  </div>  
                  <div class="col-xs-12">                        
                      <span class="fileupload-process">
                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                      </span>
                  </div>
                  
              </div>
              
              <div id="dropzone" class="dropzone" dropzone="dropzoneConfig" >
              
                  <div class="previews" id="uploadSection">                      
                      <div id="template" class="dz-preview dz-file-preview file-row clickable" >
                      <!--<div class="dz-preview dz-file-preview clickable">
                            <div class="dz-image">
                                <img data-dz-thumbnail />
                            </div>
                            <input type="hidden" name="tags[]" value="">
                            <div class="dz-menu">
                                <div class="row">                                  
                                  <div class="col-sm-12">
                                    <div class="pull-left">
                                      <a class="dz-edit" href="javascript:undefined;" data-whatever="@getbootstrap">                                                                          
                                          <i class="fa fa-pencil fa-fw"></i>                                          
                                      </a>                                      
                                    </div>
                                    <div class="pull-right">
                                      <a class="dz-remove" href="javascript:undefined;" data-dz-remove="">
                                          <i class="fa fa-times fa-fw"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            
                            <a class="dz-open" href="javascript:undefined;" data-ng-click="selectDoc()">
                                <div class="dz-details">
                                    <div class="dz-size">
                                        <span data-dz-size></span>
                                    </div>
                                    <div class="dz-filename">
                                        <span data-dz-name></span>
                                    </div>                                    
                                </div>
                            </a>
                            <div class="dz-progress">
                                <span class="dz-upload" data-dz-uploadprogress></span>
                            </div>
                            <div class="dz-error-message">
                                <span data-dz-errormessage></span>
                            </div>
                            <div class="dz-success-mark">
                                <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                    <title>Check</title>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                        <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" stroke-opacity="0.298794158" stroke="#747474" fill-opacity="0.716519475" fill="#00AA00" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="dz-error-mark">
                                <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                    <title>Error</title>      
                                    <defs></defs>      
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">        
                                      <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474" stroke-opacity="0.298794158" fill="#FF4444" fill-opacity="0.716519475">
                                          <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" sketch:type="MSShapeGroup"></path>
                                      </g>      
                                    </g>    
                                </svg>
                            </div>
                      </div>     
                  </div>
              </div>
              
              <!--<div id="dropzone">
                  <div class="dropzone" dropzone="dropzoneConfig" id="uploadSection">                
                    <div class="dz-message">
                      <span> <img src="./img/gaveteirodigital.png" /> Arraste aqui os documentos!</span>                    
                    </div>                  
                  </div>
              </div>-->  
            </div>
        </div>
      </div>
      
      <div class="form-group">
            <div class="row">
            <div class="col-xs-offset-2 col-md-offset-2 col-xs-8 col-md-8">			
              <button data-ng-disabled="progress.active()" data-ng-click="submit(myForm)" class="btn btn-success btn-lg col-xs-offset-1 col-md-offset-1 col-xs-4 col-md-4 start" ><i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Finalizar</button>
              <a class="btn btn-danger btn-lg col-xs-offset-2 col-md-offset-2 col-xs-4 col-md-4" href="/cadastro/clientes"><i class="fa fa-times fa-fw fa-inverse"></i>&nbsp;Cancelar</a>
            </div>
            </div>
      </div>	
	</form>
	
	
	
<div class="modal" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title-success text-capitalize" id="myModalLabel"><span class="label label-success">File: </span> {{selectedDoc.name}}</h4>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="form-group">
                  <div class="col-xs-12">
                      <div class="input-group">
                          <input type="text" id="tag" data-ng-keypress="enterKey($event); " data-ng-model="tag" class="form-control" required="required" />
                          <a class="input-group-addon" data-ng-click="incluirTag()"><i class="fa fa-upload fa-fw"></i></a>                          
                      </div>
                  </div>                                           
              </div>
              
              <label>
                  Tags de Sistema
              </label>                                
              <div class="well">
                  <span class="badge text-capitalize" ng-repeat="tag in selectedDoc.tags.fixed">                                            
                        {{tag}}
                  </span>                          
              </div>
              
              <label>
                  Tags Cadastradas
              </label>                                
              <div class="well">
                  <span class="badge text-capitalize" ng-repeat="tag in selectedDoc.tags.user">
                        <div class="close" aria-label="Close" data-ng-click="removeTag($index)"><i class="fa fa-times-circle-o fa-fw" aria-hidden="true"></i></div>                                            
                        {{tag}}
                  </span>                          
              </div>    
          </div>
      </div>     
    </div>
  </div>
</div>  
              
	
<!-- Custom scripts --> 
<script>

   // using jQuery Mask Plugin v1.7.5
   $("#cep").mask("00000-000");
   $("#cpf").mask("000.000.000-00");
   var maskBehavior = function (val) {
     return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
   },
   options = {
      onKeyPress: function(val, e, field, options) {
        field.mask(maskBehavior.apply({}, arguments), options);
      }
   };
   $("#tel").mask(maskBehavior, options);      	
	
</script>
